---
layout: layouts/base.njk
title: Products
permalink: /products/
---
{#
Author: Jakob Olive, 
Date: 2024-11-08

#}
<h1>Our Products: Shop Online</h1>
<p>Take A Gander At Some Of Our Products That May Or May Not Be An Accuate Representation Of What It Acutally Is...</p>
{# Navbar for pagination. #}
<nav aria-label="Page navigation">
   
</nav>
{# Container that will hold the collection of cards. #}
<div class="container">
    
</div>
{# Once again, the page navbar at the bottom of the page. #}
<nav aria-label="Page navigation">
  
</nav>